<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
    <div class="nav-container">
      <nav>
        <a href="/" class="nav-link active-nav-link">Index</a>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
        {{ end }}
        <button class="nav-link theme-toggle-nav" id="theme-toggle" aria-label="Toggle theme">● Dark</button>
      </nav>
    </div>
    <div class="content home-content">
      {{ .Content }}
      {{ if gt (len ( where .Site.RegularPages "Section" "blog" )) 0 }}
      <h2>Posts</h2>
      <div class="post-list-dated">
        {{ $pages := (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
        {{ range $i, $p := $pages }}
        <a href="{{ $p.Permalink }}">
          <div>
            <span class="post-title-text">{{ $p.Title }}</span>
            <span class="post-date">{{ $p.Date.Format "Jan 2006" }}</span>
          </div>
        </a>
        {{ if ne (add $i 1) (len $pages) }}<hr>{{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </main>
</body>
</html>
