<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
    <div class="content">
      {{ partial "header.html" . }}
      {{ .Content }}
      {{ if gt (len ( where .Site.RegularPages "Section" "blog" )) 0 }}
      <h1>Latest Posts</h1>
      <section>
        <!-- Loop through all blog posts, sorted by date in reverse order -->
        {{ range (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
          <p>
            <!-- Display only the title with a link, no date -->
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </p>
        {{ end }}
      </section>
      {{ end }}
    </div>
  </main>
</body>
</html>
