{{ $src := .Get "src" }}
{{ $class := .Get "class" | default "" }}

{{ $image := .Page.Resources.GetMatch $src }}
{{ if not $image }}
  {{ $image = .Page.Resources.GetMatch (printf "*%s*" $src) }}
{{ end }}
{{ if not $image }}
  {{ $image = .Page.Resources.GetMatch (printf "%s*" $src) }}
{{ end }}

{{ if $image }}
<figure>
  <img 
    src="{{ $image.RelPermalink }}" 
    alt="{{ $src }}"
    {{ if $class }}class="{{ $class }}"{{ end }}
    loading="lazy" 
    decoding="async"
  />
</figure>
{{ else }}
<!-- Image not found: {{ $src }} -->
<figure>
  <img 
    src="{{ $src }}" 
    alt="{{ $src }}"
    {{ if $class }}class="{{ $class }}"{{ end }}
    loading="lazy" 
    decoding="async"
  />
</figure>
{{ end }}


